In [1]:
print('hello python')## ctrl+enter

hello python

In [7]:
print('1st line\n2nd line\n3rd line')

1st line
2nd line
3rd line

In [9]:
a=3
b=3

In [10]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

6
0
9
1.0

In [11]:
a+=1
b-=2
print(a)
print(b)

4
1

#### logical operator

In [14]:
print(3<4)
print(3==3)
print(3>4)
print(True and True)
print(True and False)
print(True or False)

True
True
False
True
False
True

#### string operations

In [17]:
str1='i am python'
print(str1.upper())
str2=str1.upper()
print(str2.lower())

I AM PYTHON
i am python

In [33]:
some_str=' I am python'
another_str='   I am python  '

In [36]:
print(some_str)
print(some_str.lstrip())
print(another_str.rstrip())

 I am python
I am python
   I am python

In [38]:
special_str='i am python%'
print(special_str.rstrip('%'))
print(special_str.rstrip('n%'))

i am python
i am pytho

some_str=' I am python  '
print(some_str.strip())
print(some_str)

In [40]:
some_str='        I am python  '
print(some_str.strip())
print(some_str)

I am python
        I am python

In [42]:
num_str='*456#'
print(num_str.rstrip('#').lstrip('*'))

456

In [43]:
## apple a p p l e
## index 0 1 2 3 4

In [45]:
val='apple'
print(val[4])

e

In [46]:
print(val[1:])

pple

In [47]:
print(val[1:3])

pp

In [48]:
print(val[:3])

app

In [50]:
first_name='STEVE'
second_name='SAM'
name=first_name+second_name
print(name)
name1=first_name+" "+second_name
print(name1)

STEVESAM
STEVE SAM

In [55]:
age=30
print('age of '+name1+' is '+str(age))##str(age) to convert numeric age to string.

age of STEVE SAM is 30

In [67]:
value='python123'
print(value[0:-3])##prints all characters from 0 to -3 excluding -3,-2,-1th character.
print(value[0:-1])##prints all characters from 0 to -1 excluding -1th character.
print(value[0:])

python
python12
python123

In [70]:
animals='5 cats'
print(animals[-4:6])## prints characters from -4 th position to 6th position excluding 6th position.
print(animals[-6:6])## prints characters from -6 th position to 6th position excluding 6th position.

cats
5 cats

In [71]:
initial_list=[]
print(initial_list)

[]

In [72]:
DA_languages=['R','Python','SAS','Scala',42]
print(DA_languages)

['R', 'Python', 'SAS', 'Scala', 42]

In [73]:
print(DA_languages[:-3])

['R', 'Python']

In [90]:
DA_languages.append('JAVA')##as many time we click enter after writing append command as many time the same element is in the list
print(DA_languages)
DA_languages.pop()# pop to remove last element
print(DA_languages)

['R', 'Python', 'SAS', 'Scala', 42, 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA']
['R', 'Python', 'SAS', 'Scala', 42, 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA']

In [ ]:
.append('any element')
.remove('any element ")

In [92]:
DA_languages.pop(0)# pop to remove first or zeroth element
print(DA_languages)
#### output this as clicked pop command twice.

['SAS', 'Scala', 42, 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA', 'JAVA']

In [93]:
print(DA_languages.append('SQL'))##APPEND SHOULD DONE SEPARATELY BEFORE THEN PRINT DA_languages only should be done.

None

In [ ]:
any sentence.split('any element or null') # sentence split by any element
" any element eg & ".join('many different sentences')# sentences are joined by & .

In [97]:
my_list='hello '
print(my_list*5)
print(my_list+my_list)

hello hello hello hello hello
hello hello

In [102]:
nums=[2,4,3,7,6]
print(len(nums))
print(sorted(nums))
print(max(nums))
print(min(nums))

5
[2, 3, 4, 6, 7]
7
2

In [104]:
first_tuple=("python",30,"street",5.999)
print(first_tuple)
print(first_tuple[0])

('python', 30, 'street', 5.999)
python

In [105]:
b=first_tuple[:-1]
print(b)
print(len(b))

('python', 30, 'street')
3

In [106]:
c=list(b)
print("c is {0}".format(c))
c=tuple(c)
print("c is now a tuple:{0}".format(c))

c is ['python', 30, 'street']
c is now a tuple:('python', 30, 'street')

In [108]:
list1=['1','2','3','4']
list1[ : ]=[] 
print(list1)

[]

In [110]:
tuple1=('1','2','3','4')
tuple1[1]='0'
print(tuple1[0])#tuple elements can be changed by assigning different values.

TypeError: 'tuple' object does not support item assignment

In [111]:
dict={}
print(type(dict))

<class 'dict'>

In [113]:
data={'Name':'John','Age':27,'Height':'5.6 ft','Hobby':'golf'}
print(data)

{'Name': 'John', 'Age': 27, 'Height': '5.6 ft', 'Hobby': 'golf'}

In [124]:
hobby=data['Hobby']
print(hobby)

golf

In [126]:
age=data.get('Age')
print(age)

27

In [127]:
address=data.get('Address','New York')
print(address)

New York

In [128]:
address=data['Address']
print(address)

KeyError: 'Address'

In [130]:
data['Age']=36
print(data)##UPDATING VALUES

{'Name': 'John', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'golf'}

In [131]:
# ADDING A KEY AND VALUE .
data['Address']='New York'
print(data)

{'Name': 'John', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'golf', 'Address': 'New York'}

In [133]:
print('Address1'in data)

False

In [138]:
print(list(data.keys()))
print(list(data.values()))

['Name', 'Age', 'Height', 'Hobby', 'Address']
['John', 36, '5.6 ft', 'golf', 'New York']

In [140]:
new_dicitionary={'Country':'India','continent':'Asia'}
data.update(new_dicitionary)
print(data)

{'Name': 'John', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'golf', 'Address': 'New York', 'Country': 'India', 'continent': 'Asia'}

In [141]:
del data['Country']
print(data)

{'Name': 'John', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'golf', 'Address': 'New York', 'continent': 'Asia'}

In [142]:
dict={'1':'a','2':'b'}
del dict['1']
print(dict)

{'2': 'b'}

In [143]:
employee=['k','k','h','j','l']
print(employee)

['k', 'k', 'h', 'j', 'l']

In [147]:
emp_sets=set(employee)
print(emp_sets)
print(type(emp_sets))

{'j', 'l', 'k', 'h'}
<class 'set'>

In [149]:
emp_list_2=['k','r','p','d']
emp_set_2=set(emp_list_2)
print(emp_set_2)

{'d', 'p', 'r', 'k'}

In [153]:
print(emp_sets.intersection(emp_set_2))
print(emp_sets.union(emp_set_2))
print(emp_sets.difference(emp_set_2))

{'k'}
{'l', 'k', 'd', 'p', 'r', 'j', 'h'}
{'l', 'j', 'h'}

In [154]:
num=int(input("Enter a number:"))
if num%2==0:
    print("even")
    if(num%4==0):
        print("divisible by 4")
    else:
        print("NOT divisible by 4")
else:
    print("odd")
    if(num%3==0):
        print("divisible by 3")
    else:
        print("NOT divisible by 3")

Enter a number: 34

even
NOT divisible by 4

In [155]:
if True and False:
    print("A") 
elif (1 > 0) or False:      
    print("B") 
else:      
    print("C")

B

In [157]:
for i in range(0,10,4):
    print(i)

0
4
8

In [158]:
string="jingle bell jingle bell"
for alphabet in string:
    print(alphabet)

j
i
n
g
l
e

b
e
l
l

j
i
n
g
l
e

b
e
l
l

In [161]:
s1=''
for i in range(0,9):
    if i<5:
        s1+='* '
        print(s1)
    elif(i>4):
        s1=s1[:-2]
        print(s1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [162]:
string="jingle bell jingle bell"
for n,letter in enumerate(string):
    print(n,letter)

0 j
1 i
2 n
3 g
4 l
5 e
6
7 b
8 e
9 l
10 l
11
12 j
13 i
14 n
15 g
16 l
17 e
18
19 b
20 e
21 l
22 l

In [171]:
vowels=''
for letter in string:
    if letter in 'aeiou':
        vowels += ' '+letter
print(vowels)

 i e e i e e

In [175]:
n='2892623659872716789023556'
even=''
odd=''
for i in n:
    if int(i)%2==0:
        even+=i
    else:
        odd+=i
print("evens are:"+ even +"\nodds are:"+ odd)

evens are:2826268268026
odds are:935977179355

In [176]:
inventories=['apples','bananas','tomatos','brinjal','ladyfinger']
fruits=['apples','bananas']
vegetables=['tomatos','brinjal']
count_fruits=0
count_vegetables=0
for item in inventories:
    print(item)
    if item in fruits:
        count_fruits+=1
    elif item in vegetables:
        count_vegetables+=1
    else:
        continue
print(count_fruits)
print(count_vegetables)

apples
bananas
tomatos
brinjal
ladyfinger
2
2

In [182]:
tweet="#good #morning India"
for word in tweet.split():
    if word.startswith('#'):
        print(word[0:])
        print(word[1:])

#good
good
#morning
morning

In [183]:
student={1:['abc',24],2:['def',34]}
for key,val in student.items():
    print(key,val)

1 ['abc', 24]
2 ['def', 34]

In [185]:
for key in student.keys():
    print(key)

1
2

In [186]:
for val in student.values():
    print(val)

['abc', 24]
['def', 34]

In [190]:
count=0
for key,val in student.items():
    if val[1]<34:
        count+=1
print(count)

1

In [191]:
start=20
total=0
while start < 51:
    total+=start
    start+=1
    print(start)
print(total)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
1085

In [192]:
list=[]
for x in range(1,10):
    list.append(x**2)
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [194]:
list1=[x**2 for x in range(1,10)]
print(list1)
## comprehension way of writing programs

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [196]:
para=["there was a tree","the tree was in valley"]
words=[]
for sentence in para:
    for word in sentence.split():
        words.append(word)
print(words)

['there', 'was', 'a', 'tree', 'the', 'tree', 'was', 'in', 'valley']

In [199]:
words=[word for sentence in para for word in sentence.split()]
print(words) ##comprehension way

['there', 'was', 'a', 'tree', 'the', 'tree', 'was', 'in', 'valley']

In [204]:
vowels=['a','e','i','o','u']
vowels_from_sentence=[]
for sentence in para:
    for word in sentence.split():
        if word[0].lower() in vowels:
            vowels_from_sentence.append(word)
print(vowels_from_sentence)

['a', 'in']

In [206]:
squared_dictionary={num:num**2 for num in range(0,26)}
print(squared_dictionary)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625}

In [207]:
def first_func():
    print("hello")
first_func()

hello

In [208]:
x=0
def fun():
    x=3
    print(x)
fun()

3

In [210]:
def square(x):
    y=x**2
    return(y)
square(12)

144

In [229]:
def factorial(n):
    if n>=1:
        return n*factorial(n-1)
    elif n==0:
        return 1
    else:
        return "INVALID,PLS. ENTER CORRECTLY"
fact=factorial(5)
print(fact)

120

In [231]:
def addition(*args):## we don't know the number of arguements passed to function hence used *args to allow any number of arguements for sum
    print(args)
    return(sum(args))
print(addition(4,5,6,7,9))
print(addition(2,4,2))

(4, 5, 6, 7, 9)
31
(2, 4, 2)
8

In [266]:
first_list=[2,3,4,5]
print(map(lambda x: x**2 ,first_list))
print(list(map(lambda x: x**2, first_list)))### worked in next notebook.

<map object at 0x00000177D8BB7850>

TypeError: 'list' object is not callable